
.signin-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 2em auto;
    padding: 1.5rem; /* Reduced padding for mobile */
    width: 90%;      /* Take up most of the screen on mobile */
    max-width: 450px; /* Don't get wider than this on desktop */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.input_form {
    padding: 6.5px;
    width: 100%;
    border-radius: 6px;
    border: 2.25px solid black;
}

.input_form:focus{
    border: 3.25px solid black;
}

.submit-btn{
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 6px 0;
    background-color: #D17557;
    color: #FAFAF8;

}
.submit-btn:hover{
    background-color: #141413;
}

.emailVerification_message{
    padding: 1em;
    margin: 2em;
    border-radius: 8px;
    background-color: #D17557;
    color: #FAFAF8;
    letter-spacing: 2px;
}

.verification_link{
    text-decoration: none;
    color: black;
}


.reset_password{
    text-align: center;
}

.reset_password_link{
    text-decoration: none;
    color: black;
}

.reset_password_link:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
  .login-form {
    width: 30%; /* Or a fixed max-width */
    padding: 4em; /* Bring back the large padding for big screens */
}
    
    .emailVerification_message{
        letter-spacing: none;
    
    }
}
