*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAF8;
}


.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: #141413;
    padding: calc(4em - 4px);
    background-color: #FFFFFF;
    letter-spacing: 0.5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header_links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    place-self: right;
    
}


.header_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.linktag_header{
    color: #FAFAF8;
    background-color: #141413;
    padding: 9px 17px;
    text-decoration: none;
    font-weight: 500;
    font-size: calc(2em - 18px);
    border-radius: 6px;
    cursor: pointer;
}

.linktag_header:active{
    transform: scale3d(0.98, 0.98, 1);
}

.title_h1 {
    font-weight: 400;
}


.logo{
    width: 43px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 24px;

}

.form__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 1;
    margin-top: 4em;
}

.input__form{
    font-size: calc(1em - 2px);
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    flex-grow: 1;
    padding: 9px 13px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button__form{
    padding: 9px 17px;
    color: #FAFAF8;
    background-color: #141413;
    border-radius: 6px;
    flex-grow: 0;
    min-width: 15em;
    max-width: 30em;
    white-space: nowrap;
    border: none;
    font-family:  'Inter', sans-serif;
    font-weight: 500;
    font-size: calc(1em - 2px);
    cursor: pointer;
}

.button__form:active{
    transform: scale3d(0.98, 0.98, 1);
}

.button__form::before{
    content: "+";
    margin-right: 8px;
}

.ingredient__section{
    max-height: 300px;
    max-width: 800px;
    width: 100%;
}

.ingredient__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-position: inside;
    width: 100%;
    padding: 1em 1em;
    margin: 1em 1em;
    color: #475467;
    font-size: calc(1em + 2px);
    font-weight: 400;
    margin-bottom: 2em;
}

.ingredient__li{
    line-height: calc(2em - 4px);
}

.ingredient__title {
    color: #141413;
    font-size: calc(2em - 2px);
    font-weight: 600;
}

.recipe__message {
    background-color: #F0EFEB;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 28px;
    margin-bottom: 4em;
}

.asking__message{
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.asking__message_p{
    color: #141413;
    font-size: calc(1em + 2px);
    font-weight: 500;
}

.telling_message{
    font-size: calc(1em - 2px);
    font-weight: 400;
    color: #6B7280;
}

.api_submit {
    margin-right: 42px;
    padding: 9px 17px;
    border-radius: 6px;
    background-color: #D17557;
    color: #FAFAF8;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.api_submit:active{
    transform: scale3d(0.98, 0.98, 1);
}

.spacer {
    padding: 1em 0;
}

.recipe__title{
    padding: 1em 0.25em;
    color: #141413;
    font-weight: 500;
}

.recipe__description {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}


.spacer_section {
    padding: 5em 0;
}


.loading_btn {
    margin-right: 42px;
    padding: 9px 17px;
    border-radius: 6px;
    background-color: black;
    color: #FAFAF8;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.deleteBtn{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 6px 13px;
    margin-left: 34em;
    background-color: #D17557;
    color: #FAFAF8;
}

.deleteBtn:hover{
    background-color: #141413;
}